article#main-content {
  margin-top: 1em;
  background-color: white;
}
article#main-content .side-bar {
  border-right: 1px solid #cfcfcf;
  width: 30%;
  padding: 1em;
}
article#main-content .side-bar article.ask-img {
  padding-right: 1em;
}
article#main-content .side-bar article.ask-img section {
  background-color: #00C13F;
}
article#main-content .side-bar article.ask-img p {
  color: white;
  font-size: 2em;
  padding: 1em 0em;
  text-align: right;
}
article#main-content .side-bar article.ask-img p span {
  font-family: 'social';
  padding-right: 0.2em;
}
article#main-content .side-bar .twitter {
  height: 35em;
  background-color: #1faeff;
}
article#main-content .side-bar .twitter section {
  text-align: center;
  vertical-align: middle;
}
article#main-content .side-bar article.episode-list header {
  border-bottom: 2px solid #252525;
}
article#main-content .side-bar article.episode-list header h3 {
  font-size: 1.5em;
  margin: 0.1em 0em;
}
article#main-content .side-bar article.episode-list section ul {
  padding: 0.2em 0.2em 0.5em 0.5em;
}
article#main-content .side-bar article.episode-list section ul li {
  list-style-type: none;
  margin-top: 0.5em;
}
article#main-content .side-bar article.episode-list section ul li a {
  text-decoration: none;
  font-size: 1.3em;
  font-family: 'Conv_weblysleekuisb';
}
article#main-content .loop {
  width: 70%;
  padding: 1em;
  vertical-align: top;
}
article#main-content .loop article.social-bar {
  border-bottom: 1px solid #cfcfcf;
  padding-bottom: 1.0em;
}
article#main-content .loop article.social-bar header {
  text-align: right;
}
article#main-content .loop article.social-bar header h3 {
  font-size: 2.0em;
  margin: 0.2em;
}
article#main-content .loop article.social-bar section ul li {
  float: right;
  list-style-type: none;
  margin-right: 1em;
}
article#main-content .loop article.social-bar section ul li a {
  font-family: 'social';
  text-decoration: none;
  font-size: 3em;
}
article#main-content .loop article.social-bar section ul li .rss {
  color: #FF981D;
}
article#main-content .loop article.social-bar section ul li .gplus {
  color: #B81B1B;
}
article#main-content .loop article.social-bar section ul li .twitter {
  color: #56C5FF;
}
article#main-content .loop .sidebar-mobile {
  display: none;
}
article#main-content .loop .sidebar-mobile .ask-img section {
  background-color: #00C13F;
}
article#main-content .loop .sidebar-mobile p {
  color: white;
  font-size: 2em;
  padding: 1em 0em;
  text-align: right;
}
article#main-content .loop .sidebar-mobile p span {
  font-family: 'social';
  padding-right: 0.2em;
}
article#main-content .loop .sidebar-mobile .episode-list header {
  background-color: #2673EC;
}
article#main-content .loop .sidebar-mobile .episode-list header h3 {
  text-align: center;
  color: white;
  margin: 0;
  padding: 0.1em 0em;
  font-size: 2.0em;
}
article#main-content .loop .sidebar-mobile .episode-list section ul li {
  list-style-type: none;
  padding-bottom: 1.5em;
}
article#main-content .loop .sidebar-mobile .episode-list section ul li a {
  text-decoration: none;
  font-family: 'Conv_weblysleekuisb';
  font-size: 2em;
}
article#main-content .loop .post-loop-title {
  display: none;
}
article#main-content .loop .post-loop-title header {
  width: 100%;
  background-color: #FF981D;
}
article#main-content .loop .post-loop-title header h3 {
  margin: 0;
  padding: 0.1em 0em;
  color: white;
  text-align: center;
  font-size: 2em;
}
article#main-content .loop .post-loop {
  border-bottom: 1px solid #cfcfcf;
  padding: 1.0em;
}
article#main-content .loop .post-loop header p {
  margin: 0.1em 0em;
}
article#main-content .loop .post-loop header p a {
  font-family: 'Conv_weblysleekuisb';
  font-style: italic;
  color: #B01E00;
  text-decoration: none;
}
article#main-content .loop .post-loop header h4 {
  margin: 0.2em 0em;
}
article#main-content .loop .post-loop header h4 a {
  font-size: 2.0em;
  text-decoration: none;
  color: #252525;
}
article#main-content .loop .post-loop section .image-loop img {
  float: left;
  width: 8em;
}
article#main-content .loop .post-loop section .text-loop {
  padding-left: 1em;
  vertical-align: middle;
}
article#main-content .loop .post-loop footer p {
  margin: 0em;
  font-style: italic;
  text-align: right;
}
article#main-content .nav-post {
  border-top: 0.5em solid #cfcfcf;
  margin-top: 1em;
}
article#main-content .nav-post article section:last-child {
  text-align: right;
}
article#main-content .nav-post article section a {
  font-family: 'Conv_weblysleekuisb';
  text-decoration: none;
  font-size: 1.5em;
}
@media screen and (max-width: 830px) {
  article#main-content .side-bar {
    display: none;
  }
  article#main-content .post-loop-title {
    display: block !important;
  }
  article#main-content .loop .sidebar-mobile {
    display: block;
  }
  article#show-banner .desktop-image {
    display: none;
  }
  article#show-banner footer {
    display: block !important;
  }
}
@media screen and (max-width: 576px) {
  article#main-content .loop .post-loop img {
    display: none;
  }
}
