footer#main-footer {
  background-color: #252525;
}
footer#main-footer .footer-title {
  padding: 3em 0em;
  padding-left: 1em;
  width: 39%;
}
footer#main-footer .footer-title h2 {
  font-size: 3em;
  font-weight: bold;
  color: #696969;
  margin: 0.1em;
}
footer#main-footer .footer-title h2 span {
  color: #1B58B8;
}
footer#main-footer .footer-title p {
  margin: 0.1em;
  color: #696969;
}
footer#main-footer .footer-list {
  vertical-align: middle;
  padding-left: 1em;
}
footer#main-footer .footer-list article section {
  padding-right: 1em;
}
footer#main-footer .footer-list h3 {
  color: #E56C19;
  margin: 0.3em 0em;
}
footer#main-footer .footer-list ul {
  padding: 0;
  margin: 0;
}
footer#main-footer .footer-list ul li {
  list-style-type: none;
}
footer#main-footer .footer-list ul li a {
  color: #696969;
  text-decoration: none;
}
@media screen and (max-width: 576px) {
  .footer-list {
    display: none;
  }
  .footer-title {
    width: 100% !important;
  }
  .footer-title h2,
  .footer-title p {
    text-align: center;
  }
}
